@use'../base/variables';

/*CONTACTO FORMULARIO*/

.contact-container {
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 30px;
    max-width: 900px;

}

.form-control {
    border: 1px solid #ced4da;
    padding: 12px 15px;
    margin-bottom: 25px;
    transition: all 0.3s;

}


.form-control:focus {
    border-color: variables.$color-text;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);

}


.btn-submit {
    font-weight: 600;
    transition: all 0.3s;
}

.btn-submit:hover {
    background-color:variables.$color-grey;
    transform: translateY(-2px);
}


.contact-info h3 {
    position: relative;

}


.contact-info h3:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background: variables.$color-light;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: variables.$color-light;
    color: variables.$color-text;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    transition: all 0.3s;
}


.social-icons a:hover {
    background-color:variables.$color-grey;
    color: variables.$color-light;
    transform: translateY(-3px);
}


