

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: floralwhite;
    color: black;
    font-family: var(--bs-body-font-family);

}


main {
    margin: 20px;
    padding: 0;

}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 45px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase
}

.parrafo {
    font-size: 25px;
    margin: 18px;
    text-align: center;

}

body img {
    width: 50%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


