/*Colores*/
$color-bg: floralwhite;
$color-text: #000;
$color-dark: #0e0d0d;
$color-light: #fff;
$color-grey: #333;


/* Tipografías*/
$font-main: var(--bs-body-font-family);
$font-alt: 'Times New Roman', Times, serif;
